<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Flavour Finds</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet"
  >

  <link rel="stylesheet" href="/styles/main.css">

</head>

<body>

<div class="container">


  <!-- Navbar -->

  <nav class="navbar">

    <div class="search-box">
      🔍 
    </div>


    <div class="logo">
      Flavour Finds
    </div>


    <div class="nav-right">

    <a href="/create">

  <button class="subscribe-btn">
    Create Blog
  </button>

</a>


      <!-- Dropdown -->

      <div class="dropdown">

        <div class="menu">
          ☰
        </div>

        <div class="dropdown-content">

          <a href="/">Home</a>

          <a href="/about">About</a>

          <a href="/contact">
            Contact
          </a>

        </div>

      </div>

    </div>

  </nav>

  <main>